.signup-form{
    margin: 5em auto;
    padding: 3%;
    width: 400px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

#input{
    width: max-content;
    margin-bottom: 3%;
    
}

#input:hover{
    box-shadow: 3px 3px 3px rgb(33, 190, 243),  -3px -3px 3px rgb(33, 190, 243);
}