.profile-info{
    margin: 20rem 45rem;
    width: min-content;
    padding: 2%;
    display: flex;
    justify-content: center;
    border: 2px solid grey;
}

#input{
    width: 1000px;
    margin-bottom: 3%;
}

#btn-2{
    display: flex;
    float: right;
}