@media screen and (min-width: 500px) {
    .home-page-container{
        margin-top: 400px;
    }

    .home-page h1{
        text-align: center;
    }

    .btn-div{
        display: flex;
    }

    #job-btn{
        margin: 2rem auto;
    }
}